.about-container {
    text-align: center;
    padding: 20px 40px;
    color: white;

    & video {
        position: fixed;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
    }

    & h1 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 15px;
    }

    & p {
        font-size: 18px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 20px;
    }
}

@media only screen and (min-width:120px) and (max-width:720px) {
    .about-container{

        & h1{
            font-size: 24px;
        }
    }
    
}