.compatibility-container {
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

    & video {
        position: fixed;
        top: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: -2;
        filter: blur(2px);
    }

    & h1 {
        font-size: 36px;
        font-weight: 700;
        margin-bottom: 15px;
        border: 1px solid white;
        padding: 10px 20px;
        border-radius: 10px;
        backdrop-filter: blur(35px);
    }

    & p {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.4;
        margin-bottom: 20px;
    }

    

    & .images {
        width: 70%;
        margin: 25px 0;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 50px;

        & img {
            height: 200px;
            width: 200px;
            border-radius: 10px;
        }

        a {
            text-decoration: none;
        }

        h2{
            font-size: 20px;
            font-weight: 500;
            color: white;
            text-align: center;
        }
    }
}
