footer {
    background-image: url('/src/assets/images/love_bg.png');
    background-position: contain;
    color: black;

    & .footer-container {
        padding: 2%;

        & .flex {
            display: flex;
            justify-content: space-evenly;
            margin-bottom: 3%;

            & h3 {
                font-size: 30px;
                font-weight: 500;
                color: black;
                margin-bottom: 6%;
            }

            & li {
                list-style-type: none;
                line-height: 1.7;

                & a {
                    font-size: 20px;
                    text-decoration: none;
                    color: black;
                }

                & a:hover {
                    color: red;
                }
            }

            & a {
                text-decoration: none;
                font-size: 24px;
                color: black;

                & i {
                    padding: 8px;
                    border: 1px solid black;
                    margin-right: 10px;
                }

                & i:hover {
                    color: red;
                    border: 1px solid red;
                }
            }
        }


        .footer-bottom {
            
            & p {
                font-size: 20px;
                text-align: center;
                line-height: 1.5;
            }

            & p:first-child{
                margin-bottom: 5px;
            }
        }
    }
}

@media only screen and (min-width:120px) and (max-width:720px) {
    .flex {
        flex-direction: column;
        text-align: center;
        row-gap: 20px;
    }

    .footer-bottom {
        padding: 5px;
        margin-top: 30px;

        & p {
            font-size: 16px;
        }

            & p:first-child{
                margin-bottom: 15px;
            }

        
    }
}