.nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 4rem;
    gap: 50px;
    padding: 10px 20px;
    background-image: url('/src/assets/images/love_bg.png');
    background-position: contain;
    box-shadow: 0 0 35px rgba(255, 255, 255, 0.5);

    & img {
        width: 80%;
    }

    & .flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        column-gap: 50px;

        & li {
            list-style-type: none;

            & a {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                color: black;
                text-align: center;
            }

        }

        & li button {
            border: none;
            background-color: transparent;
            margin-left: 10px;
            font-size: 20px;
            font-weight: 700;

            i {
                display: block;
                color: black;
                cursor: pointer;
            }
        }


        & li a:hover {
            color: white;
        }


        & .sub-nav .dropdown {
            position: absolute;
            display: none;
            width: 13%;
            background-color: #a8cbd6;
            border-radius: 5px;
            z-index: 1;

            & li {
                padding: 6% 7%;
            }

            & li:hover {
                background-color: #80a7b3;
                border-radius: 5px;
            }

            & li a {
                color: black;
                font-size: 14px;
                font-weight: 500;

                & img {
                    width: 13px;
                    height: 10px;
                    margin-right: 5%;
                }
            }

        }

        & .sub-nav:hover .dropdown {
            display: block;
        }
    }

    & .menu-bar {
        display: none;
    }
}

@media only screen and (min-width:120px) and (max-width:720px) {
    .nav {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 10px;

        & .flex {
            position: fixed;
            top: 0;
            z-index: 1;
            left: -100%;
            flex-direction: column;
            width: 100%;
            height: 100%;
            text-align: center;
            transition: 0.4s;
            background-color: #2c2b2b;

            & li a {
                color: white;
            }

            & li button {
                border: none;
                background-color: transparent;
                margin-left: 10px;
                font-size: 20px;

                i {
                    display: block;
                    color: white;
                    cursor: pointer;
                }
            }


            & .sub-nav .dropdown {
                text-align: left;
                width: 200px;
                padding: 10px;

                & li {
                    padding: 1px;

                    & a {
                        padding-left: 10px;
                    }

                }
            }

        }

        & .flex.active {
            left: 0;
            padding: 30px 0;
        }

        .sub-nav {
            font-size: 1.8rem;
            justify-content: center;
        }

        & .menu-bar {
            display: flex;
            color: black;
            font-size: 25px;
            font-weight: 600;
            z-index: 1;
            cursor: pointer;
        }
    }

}