.navbar2 {
    /* width: 100%; */
    height: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    padding: 10px 20px;
    background-image: url('/src/assets/images/love_bg.png');
    background-position: contain;
    /* box-shadow: 0 0 35px rgba(255, 255, 255, 0.5); */

    & li{
        list-style-type: none;
        
        & a {
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            color: black;
            text-align: center;
        }
    }

    & li a:hover{
        color: white;
    }

    & .sub-nav .dropdown{
        position: absolute;
        display: none;
        width: 13%;
        background-color: #a8cbd6;
        border-radius: 5px;
        z-index: 1;

        & li {
            padding: 6% 7%;
        }
        
        & li:hover{
            background-color:  #80a7b3;
            border-radius: 5px;
        }

        & li a {
            color: black;
            font-size: 14px;
            font-weight: 500;

            & img {
                width: 13px;
                height: 10px;
                margin-right: 5%;
            }
        }

    }
    & .sub-nav:hover .dropdown{
        display: block;
    }

}
.scroll-animation {
    animation-name: scrollEffect;
    animation-duration: 1s;
}

@keyframes scrollEffect {
    0% {
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.logo {
    & .main-logo {
        display: flex;

        & .logo-image {
            width: 80%;
        }
    }
}

.nav-menu {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 1rem;
    font-size: medium;

    & a i{
        color: black;
        padding-left: 10px;
    }

    & .dropdown{
        display: none;
    }
}

.hamburger {
    display: none;
}

.nav-item-wrapper {
    display: flex;
    align-items: center;
}

.nav-item-wrapper a {
    margin-right: 1rem;
}

@media screen and (min-width:120px) and (max-width:720px) {
    .nav-menu {
        position: fixed;
        top: 0;
        z-index: 1;
        left: -100%;
        flex-direction: column;
        justify-content: center;
        background-color: var(--darkgrey);
        width: 100%;
        height: 100%;
        text-align: center;
        transition: 0.4s;

        & .dropdown{
            display: none;
        }

    }

    .nav-menu.active {
        left: 0;
    }

    .nav-item {
        /* margin: 1.5rem; */
        font-size: 1.8rem;
        justify-content: center;
    }

    .hamburger {
        display: flex;
        z-index: 1;
    }
}